node_modules
build
coverage
*/node_modules
*/build
.secrets.json
*/dist

.env

notes

# Logs
*/logs
*.log

#Hardhat files
*/cache
*/artifacts
*/typechain
cache
artifacts
typechain
typechain-types

#Plugin Files
coverage.json